.footer {
  position: fixed;
  bottom: 0;
  margin: 0 0 20px 0;

  a + a {
    margin-left: 20px;
  }

  a > svg {
    transition: 0.2s;
  }

  a > svg:hover {
    transform: scale(1.15);
  }
}

@media screen and (max-width: 600px) {
  .footer {
    position: relative;
  }
}
@media screen and (max-height: 1000px) {
  .footer {
    position: relative;
  }
}
