.player {
  display: flex;
  background-color: black;
  flex-direction: column;
  width: 450px;
  padding: 15px 20px 10px 20px;
  color: white;
  opacity: 1;
  margin: 30px 0 30px 0;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 24px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 24px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 24px 3px rgba(0, 0, 0, 0.75);
  animation-name: bounceIn;
  animation-duration: 1s;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  .player {
    max-width: 90%;
  }
}
