.dropdownContent {
  position: absolute;
  top: 40px;
  display: none;
  flex-direction: column;
  width: 30%;

  svg {
    align-self: center;
    animation-name: bounceIn;
    animation-duration: 0.5s;

    &:active:hover {
      opacity: 0.7;
    }
  }

  svg + svg {
    margin-top: 10px;
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.dropdownOpen {
  display: flex;
  justify-content: center;
}

.banner {
  width: 115px;
  align-self: center;
  margin: 15px 0 15px 0;
}

.wheader {
  display: flex;
  justify-content: space-between;
}

.downloadWrap {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  svg {
    margin-left: -15px;
    cursor: pointer;

    &:active:hover {
      opacity: 0.7;
    }
  }
}

.shareWrap {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;

  svg {
    margin-right: -15px;
    cursor: pointer;
  }

  &:active:hover {
    .dropdownContent {
      display: flex;
    }
  }
}

.title {
  font-size: 24px;
  word-wrap: break-word;
}

.metadata {
  color: #8e8e8e;
  padding: 0;
  list-style-type: none;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #bd00ff transparent;
  scrollbar-width: thin;
  font-size: 14px;

  li {
    white-space: pre-line;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 5px;
    margin-right: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #bd00ff;
  }
}

.seekbar {
  margin: 30px 0 10px 0;
}
.seekNumbers {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 12px;
    user-select: none;
  }
}

.modlink {
  color: inherit;
  text-decoration: inherit;
}

.actionButtonsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  svg {
    cursor: pointer;

    &:active:hover {
      opacity: 0.7;
    }
    &[disable="true"] {
      opacity: 0.7;
      cursor: default;
    }
  }
}

.actionbtn {
  align-self: center;
  margin: 30px 0 30px 0;
  cursor: pointer;
  transition: opacity 0.2s;

  &:active:hover {
    opacity: 0.7;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.arrow {
  margin: 20px 0 10px 0;
  cursor: pointer;
}

.question {
  margin: 0 0 10px 0;
  cursor: pointer;

  &:active:hover {
    opacity: 0.7;
  }
}

.repeat {
  margin: 0 0 5px 0;
  cursor: pointer;
  opacity: 1;

  &:active:hover {
    opacity: 0.5;
  }
}

.deactive {
  opacity: 0.5;
}

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 24px;
  }
  .metadata {
    font-size: 14px;
  }
  .banner {
    width: 80px;
  }
  .actionbtn {
    height: 90px;
    width: 90px;
  }
}
