.header {
  display: flex;
  justify-content: space-between;

  svg {
    margin-right: -15px;
    cursor: pointer;
  }
}

.banner {
  width: 50px;
  align-self: center;
}

.metadata {
  color: #8e8e8e;
  padding: 0;
  list-style-type: none;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

.titleWrap {
  margin-left: 5px;

  h3 {
    word-break: break-all;
  }

  p {
    color: #8e8e8e;
  }
}

.seekbarWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.seekbar {
  margin: 10px 0 10px 0;
}

.seekNumbers {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 12px;
    user-select: none;
  }
}

.actionbtn {
  align-self: center;
  margin-right: 15px;
  cursor: pointer;
  transition: opacity 0.2s;

  &:active:hover {
    opacity: 0.7;
  }
}

.arrow {
  align-self: center;
  margin: 5px 0 0px 0;
  cursor: pointer;
  transform: rotate(180deg);
}

.downloadButton {
  align-self: flex-start;
}

@media screen and (max-width: 600px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
    .banner {
        align-self: center;
        width: 100px;
      }

    .downloadButton {
      display: none;
    }
  }
