@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-size: 1rem;
  font-family: "Press Start 2P", cursive;
  font-weight: 400;
  height: 120%;
  line-height: 1.5;
  padding: 10px 0 10px 0;
  background:url("/images/bg_1.jpg") rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-size: cover;
  color: white;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.randombtn {
  padding: 20px;
  background-color: black;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s;

  p {
    background: linear-gradient(to left, #c200ff, #00b8ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
  }

  &:active:hover {
    opacity: 0.9;
  }

  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 600px) {
  .randombtn {
    max-width: 90%;
    text-align: center;
  }
}
